# The Eggcellent Detector EDA

This part of the notebook imports the basic packages

In [1]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
import pandas as pd
import numpy as np
import os
import operator 
import re
import sys
import csv

import seaborn as sns
from matplotlib import pyplot as plt

In [3]:
Test_DF = pd.read_csv("/content/drive/MyDrive/The Eggcellent Predictor /Data/TURKEYtrain.csv")

In [4]:
Test_DF.head(10)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
6,National Average,52,Rice - Retail,5,KG,3,2014,6.0014
7,National Average,52,Rice - Retail,5,KG,5,2014,6.3202
8,National Average,52,Rice - Retail,5,KG,6,2014,6.6019
9,National Average,52,Rice - Retail,5,KG,7,2014,6.6503

In [5]:
product_name = Test_DF["ProductName"]
product_name.head()

0    Rice - Retail
1    Rice - Retail
2    Rice - Retail
3    Rice - Retail
4    Rice - Retail
Name: ProductName, dtype: object

In [6]:
egg_rows = Test_DF[Test_DF["ProductName"].str.contains("Eggs - Retail")]

In [7]:
egg_rows.shape

(174, 8)

In [19]:
egg_rows.to_csv("EggRowsTrain.csv")

In [22]:
New_DF = pd.read_csv("/content/EggRowsTrain.csv")
New_DF.head(10)

,Unnamed: 0,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,244,National Average,92,Eggs - Retail,33,Unit,5,2013,0.2539
1,245,National Average,92,Eggs - Retail,33,Unit,6,2013,0.2677
2,246,National Average,92,Eggs - Retail,33,Unit,11,2013,0.3556
3,247,National Average,92,Eggs - Retail,33,Unit,12,2013,0.3635
4,248,National Average,92,Eggs - Retail,33,Unit,1,2014,0.3749
5,249,National Average,92,Eggs - Retail,33,Unit,2,2014,0.3739
6,250,National Average,92,Eggs - Retail,33,Unit,3,2014,0.3638
7,251,National Average,92,Eggs - Retail,33,Unit,5,2014,0.3399
8,252,National Average,92,Eggs - Retail,33,Unit,6,2014,0.3551
9,253,National Average,92,Eggs - Retail,33,Unit,7,2014,0.3313

In [23]:
place_name = New_DF["Place"]
place_name.head()

0    National Average
1    National Average
2    National Average
3    National Average
4    National Average
Name: Place, dtype: object

In [28]:
national_average = New_DF[New_DF["Place"].str.contains("National Average")]
national_average.shape

(66, 9)

In [29]:
national_average.to_csv("NatAverageTurkey.csv")

In [31]:
ankara_set = New_DF[New_DF["Place"].str.contains("Ankara")]
ankara_set.shape

(36, 9)

In [32]:
istanbul_set = New_DF[New_DF["Place"].str.contains("Istanbul")]
istanbul_set.shape

(36, 9)

In [33]:
izmir_set = New_DF[New_DF["Place"].str.contains("Izmir")]
izmir_set.shape

(36, 9)

In [38]:
istanbul_set.to_csv("IstanbulTurkey.csv")
izmir_set.to_csv("IzmirTurkey.csv")
ankara_set.to_csv("AnkaraTurkey.csv")

In [39]:
x = []
y = []
  
with open('EggRowsTrain.csv','r') as csvfile:
    lines = csv.reader(csvfile, delimiter=',')
    for row in lines:
        x.append(row[0])
        y.append(int(row[1]))
  
plt.plot(x, y, color = 'g', linestyle = 'dashed',
         marker = 'o',label = "Price")
  
plt.xticks(rotation = 25)
plt.xlabel('Dates')
plt.ylabel('Egg Price per Dozen')
plt.title('Egg Prices in Turkey', fontsize = 20)
plt.grid()
plt.legend()
plt.show()

ValueError: ignored